.svg-frame {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-frame__svg {
  position: absolute;
  transition: 0.5s;
  z-index: calc(1 - (0.2 * var(--j)));
  transform-origin: center;
  width: var(--svg-width);
  height: var(--svg-height);
  fill: none;
}

:root {
  --svg-width: 344px;
  --svg-height: 344px;
}

.svg-frame__svg:hover {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame__svg #center {
  transition: 0.5s;
  transform-origin: center;
}

.svg-frame:hover .svg-frame__svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

.svg-frame__svg #out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

.svg-frame__svg #out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: #ff0;
}

.svg-frame__svg #inner3,
.svg-frame__svg #inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

.svg-frame__svg #center1 {
  fill: #ff0;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #09031a;
}

.vertical-center {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
